body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00467f;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #002e54;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #00467f;
  color: #fff;
  text-align: center;
  padding: 10px;
}
